server:
  port: 8080

spring:
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**

        - id: event-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/events/**

        - id: notification-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/notifications/**

        - id: registration-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/registrations/**
